html, body {
    margin:0px 10px;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    background-color:#F2F2F2;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

.text {
    margin: 7px;
}


form{
 background: #9cbc2c;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 padding: 5px;
 width: 600px;
}

form fieldset {
border: none;
margin-bottom: 1px;
}

#color-to-relationship h4{
    color: black;
}
#color-to-relationship ul li{
    padding: 5px;
    font-size: 18px;
    font-family:fantasy;
}
